Package: com.junesiphone.blackkeyboard
Name: BlackKeyboard
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Black Keyboard and WebFormBar!
Maintainer: JunesiPhone
Author: JunesiPhone
Section: Tweaks
